@charset "utf-8";
/* CSS Document */
	body {
		background-color: #d9d9d9;
	}
	
	#progress-bar {
		margin-left: 5%;
		width: 90%;
		text-align: center;	
	}
	#Qbox {
		margin-left: 8.3333333333%;
		margin-right: 8.3333333333%;
		background-color: white;
		border: 3px solid gray;
		border-radius: 5px;
		height: 500px;
	}
	#main {
		background-color:white;
		height: 60%;
	}
	.choises {
		font-size: 24px;
		text-align: center;
		font-family: arial;
		background-color: white;
		border: 1px solid gray;
		height: 20%;
	}
